@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
:root {
  --cloud-scale: scale(1)
}

*::selection {
  background-color: transparent;
}

body {
  position: fixed;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: url("yellow-gradient-background.png");
  background-repeat: no-repeat;
  width: 100%;
}

/*************** result styles BEGIN ***************/

@media only screen and (max-height: 500px) {
  :root {
    --giraffe-scale: scale(1.1);
    --searchbar-height: 50px
  }
  .searchbar input {
    font-size: 1.5rem;
  }
  .pac-container {
    margin-top: 0px;
  }
}

/* loader */

.pulse {
  position: absolute;
  top: -228px;
  width: 500px;
  height: 500px;
  transform: scale(1);
  display: none;
  transition: 0.5s all;
}

.pulse-right {
  left: -169px;
}

.pulse-left {
  left: -160px;
}

/* Pulse Design */

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

circle {
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-location: inside;
  stroke: #FB4322;
  stroke-width: 2px;
  transform-origin: center;
  transform: scale(0.01);
}

.pulsing-animation-active {
  animation: pulse 2s linear infinite;
}

/* Pulse Animation */

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.01);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* Pulse Application */

circle.still {
  animation: none;
}

circle:nth-child(2) {
  animation-delay: 0.5s;
}

circle:nth-child(3) {
  animation-delay: 1s;
}

circle:nth-child(4) {
  animation-delay: 1.5s;
}

circle:nth-child(5) {
  animation-delay: 2s;
}

/* clouds */

.cloud {
  position: absolute;
  bottom: -35px;
  transform: translateX(-100%) var(--cloud-scale);
}

@keyframes scroll {
  from {
    transform: translateX(-100%) var(--cloud-scale);
  }
  to {
    transform: translateX(100vw) var(--cloud-scale);
  }
}

@media only screen and (max-height: 560px) {
  :root {
    --cloud-scale: scale(0.8)
  }
}