@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
:root {
  --anim-duration: 1s;
  --input-bgc: #EC9C8E;
  --searchicon-bgc: rgba(0, 0, 0, 0.4);
}

*::selection {
  background-color: transparent;
}

body {
  position: fixed;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: url("yellow-gradient-background.png");
  background-repeat: no-repeat;
  width: 100%;
}

/*********************** giraffe styles BEGIN ***********************/

.giraffe {
  position: absolute;
  bottom: 100px;
  height: 340px;
  width: 150px;
  left: 50%;
  transform-origin: bottom;
  transform: translate(-50%, 0) scale(1.25);
  pointer-events: none;
}

.giraffe-popup {
  animation: giraffe-popup var(--anim-duration);
}

.giraffe-sinks {
  animation: giraffe-sinks var(--anim-duration);
}

/*     giraffe body     */

.giraffe-body {
  position: absolute;
  top: 50px;
  height: 300px;
}

/*     giraffe head     */

.giraffe-head {
  width: 70px;
  position: absolute;
  top: 30px;
  left: 70px;
}

.giraffe-head-popup {
  animation: giraffe-head-popup var(--anim-duration);
}

.giraffe-head-sinks {
  animation: giraffe-head-sinks var(--anim-duration);
}

/*     ear     */

.giraffe-ear {
  position: absolute;
  display: inline-block;
  left: 58px;
  top: 40px;
  width: 25px;
}

.ear-popup {
  animation: ear-popup var(--anim-duration);
}

.ear-loop {
  animation: ear-loop 8.37s infinite;
  animation-delay: -1s;
}

/*     horns     */

.horn {
  position: absolute;
  height: 22px;
  transform-origin: left;
  top: 18px;
}

#horn1 {
  left: 78px;
}

#horn2 {
  left: 87px;
}

.giraffe-horn1-popup {
  animation: horn1-popup 1.1s;
}

.giraffe-horn2-popup {
  animation: horn2-popup 1.2s;
}

.horn-loop {
  animation: horn-loop 5s infinite;
  animation-delay: 1s
}

/*********************** back button END ***********************/

/******************** giraffe keyframes BEGIN *********************/

@keyframes searchbar-drop {
  from {
    transform: translate(-50%, -150px);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

/*     popups     */

@keyframes giraffe-popup {
  0% {
    transform: translate(-50%, 450px) scale(1.25)
  }
  70% {
    transform: translate(-50%, -10px) scale(1.25)
  }
  100% {
    transform: translate(-50%, 0px) scale(1.25)
  }
}

@keyframes giraffe-head-popup {
  0% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(40deg);
  }
  80% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes ear-popup {
  0% {
    transform: rotateZ(-10deg)
  }
  30% {
    transform: rotateZ(-40deg)
  }
  80% {
    transform: rotateZ(10deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

@keyframes horn1-popup {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(40px) scale(1);
  }
  85% {
    transform: translateY(2px) scale(1.4);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes horn2-popup {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(40px) scale(1);
  }
  85% {
    transform: translateY(0px) scale(1.4);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

/*     sinks     */

@keyframes giraffe-sinks {
  20% {
    transform: translate(-50%, -10px) scale(1.25);
  }
  100% {
    transform: translate(-50%, 450px) scale(1.25);
  }
}

@keyframes giraffe-head-sinks {
  20% {
    transform: rotateZ(10deg)
  }
  60% {
    transform: rotateZ(-30deg)
  }
  100% {
    transform: rotateZ(0deg)
  }
}

/*     loops     */

@keyframes horn-loop {
  0% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  92% {
    transform: translate(2%) scale(0.9);
  }
  93% {
    transform: translate(-12%) scale(1.5);
  }
  95% {
    transform: translate(2%) scale(0.9);
  }
  97% {
    transform: translate(-2%) scale(1.1);
  }
  100% {
    transform: translate(0%) scale(1);
  }
}

@keyframes ear-loop {
  0% {
    transform-origin: center right;
    transform: rotateZ(0deg)
  }
  94% {
    transform-origin: center right;
    transform: rotateZ(0deg)
  }
  95.5% {
    transform-origin: center right;
    transform: rotateZ(40deg)
  }
  97% {
    transform-origin: center right;
    transform: rotateZ(-15deg)
  }
  98% {
    transform-origin: center right;
    transform: rotateZ(20deg)
  }
  99% {
    transform-origin: center right;
    transform: rotateZ(-5deg)
  }
  100% {
    transform-origin: center right;
    transform: rotateZ(0deg)
  }
}

/********************* giraffe keyframes END ************************/

/********************* error and searchbar styles BEGIN ************************/

/*     error message     */

.error_container {
  position: absolute;
  top: -30px;
  width: 100%;
  transition: top 0.5s;
}

.error_message {
  text-align: center;
  height: 30px;
  margin: 0px auto;
  background-color: red;
  color: white
}

/* searchbar styles */

.searchbar-wrapper {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--input-bgc);
  border-radius: 500px;
  transition: width 0.8s, top .7s;
  animation: searchbar-drop 1s;
}

/*     left side/input     */

.searchbar-wrapper input {
  position: absolute;
  height: 3rem;
  width: calc(100% - 120px);
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  outline: 0;
  border: 0;
  margin-left: 40px;
  font-size: 2rem;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4)
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4)
}

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4)
}

.searchbar-wrapper input::selection {
  background-color: lightblue;
}

/*     right side/search button     */

.search-icon {
  position: relative;
  width: 70px;
  height: 70px;
  float: right;
  background-color: var(--searchicon-bgc);
  border-radius: 500px;
  transition: 0.15s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.search-icon::after {
  clear: both;
}

.search-icon:hover {
  background-color: #fff;
}

.search-icon:active {
  background-color: rgba(0, 0, 0, 0.05);
}

svg {
  fill: white;
  transform: scale(0.6);
}

.search-icon:hover>svg {
  fill: #8E5E55
}

/*     city suggestion list dropdown     */

.pac-container {
  margin-top: 10px;
  background-color: rgb(255, 255, 255, 0.2);
}

.pac-container div {
  height: 2.2rem;
  border-top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pac-container div:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/*************** searchbar styles on startscreen END ***************/

/*************** result styles BEGIN ***************/

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s ease;
}

#result p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  line-height: 3rem;
}

/*********************** resultbox END ***********************/

/******************** back button BEGIN *********************/

#back {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15vh;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: olive;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}